<div class="container">
<h1>Start the angular learning</h1>
  <h2>{{title}}</h2>

<!--  <app-interpolation></app-interpolation>-->
<!--  <app-property-binding></app-property-binding>-->
<!--<app-class-binding></app-class-binding>-->
<!--  <app-style-binding></app-style-binding>-->
<!--  <app-event-binding></app-event-binding>-->
<!--<app-template-reference-var></app-template-reference-var>-->
<!--<app-ways-to-binding></app-ways-to-binding>-->
<!--  <app-ngif-directive></app-ngif-directive>-->
  <app-component-interaction></app-component-interaction>
</div>

